.input{
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
  /* border-radius: 10px;
  border-style: none;
  width: 400px;
  height: 30px; */
}
.input_box{
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;

}
.input_box:focus{
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, .5);
  outline: none;
}
.input_submit{
  position:absolute;
  margin: 12px;
  width:50px;
  height: 50px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: royalblue;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;

}
.input_submit:hover{
  background-color: rgb(116, 116, 233);
}
.input_submit:active{
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
.todos{
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}
.todo_item{
  display: flex;
  width: 40%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: yellow;

}
.todo_single_text{
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.icon{
  margin-left: 10px;
  font-size: 25pd;
  cursor: pointer;
}
@media (max-width:700px) {
  .input{
    width: 95%;

  }
  .todo_item{
    width: 100%;
  }
  
}